ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #355070;
    color: #eaac8b;
    border-radius: 10px;
}

.field {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}
